# Ignore artifacts:
node_modules
dist
build
coverage
venv

# Ignore package manager files (if you commit them)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore specific configuration files if managed elsewhere or intentionally unformatted
# .vscode/
# .idea/

# Ignore generated/bundled files
*.generated.*
*.bundled.ts
docs/src/.vitepress/cache
extensions/vscode/out

*.log
*.md 